* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

.container {
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 80px;
	background-color: #4c5a48;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar .logo img {
	width: 40px;
	margin-bottom: 20px;
}
.sidebar {
	gap: 40px;
}

.sidebar nav ul {
	list-style: none;
	padding: 0;
}

.sidebar nav ul li {
	margin: 20px 0;
}

.sidebar nav ul li img {
	width: 30px;
}

.main-content {
	flex: 1;
	background-color: #f5f5f5;
	padding: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.search-bar {
	display: flex;
	align-items: center;
	background-color: #e0e0e0;
	padding: 10px;
	border-radius: 20px;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

.hori {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
}

.search-bar input {
	border: none;
	background: transparent;
	outline: none;
	padding: 0 10px;
	width: 100%;
	font-size: 16px;
}

.search-bar img {
	width: 20px;
}

.header-icons img {
	width: 30px;
	margin-left: 20px;
}

.content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 20px;
}
.left {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 20px;
	width: 65vw;
}
.right {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	margin-top: 20px;
}
.right_card {
	height: 100%;
	background-color: #e0e0e0;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
	background-color: #e0e0e0;
	border-radius: 10px;
	height: 300px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile {
	grid-column: span 1;
}

.profile .circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid black;
	margin: 20px auto;
}

.filter {
	grid-column: span 1;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filter img {
	width: 30px;
}

.large {
	grid-column: span 2;
	height: 300px;
}

.sidebar nav {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.logo {
	height: 10vh;
	margin: auto;
	align-items: center;
	justify-content: center;
}
